<div id="hero" class="main">

   <div id="leaflet">
       <div id="left">
            <div id="wrapper">
              <div class="imageitems">
                <img src="https://www.applegadgetsbd.com/_next/image?url=https%3A%2F%2Fadminapi.applegadgetsbd.com%2Fstorage%2Fmedia%2Flarge%2FiPhone-15-Pro-Max-Slider-2949.png&w=1200&q=75" alt="">
              </div>
              <div class="imageitems">
                <img src="https://www.applegadgetsbd.com/_next/image?url=https%3A%2F%2Fadminapi.applegadgetsbd.com%2Fstorage%2Fmedia%2Flarge%2FGalaxy-Z-Fold6-Slider-3091.jpg&w=1200&q=75" alt="">
              </div>
              <div class="imageitems">
                <img src="https://www.applegadgetsbd.com/_next/image?url=https%3A%2F%2Fadminapi.applegadgetsbd.com%2Fstorage%2Fmedia%2Flarge%2FAcer-Predator-Helios-Neo-16-PHN16-71-97C8-13th-Gen-Intel-Core-i9-13900HX-NVIDIA-RTX-4060-With-8GB-4173.png&w=1200&q=75" alt="">
              </div>
             </div>
             <div class="buttons">
               <button id="prev"><</button>
               <button id=next>></button>
             </div>
            <div id="dots">
              <li class="active"></li>
              <li></li>
              <li></li>
            </div>
       </div>
     
     <div id="right">
         <div class="sideimage">
           <img src="https://www.applegadgetsbd.com/_next/image?url=https%3A%2F%2Fadminapi.applegadgetsbd.com%2Fstorage%2Fmedia%2Flarge%2FApple-Airpods-pro-2nd-Gen-Type-C-4990.png&w=828&q=75" alt="">
         </div>
       
       <div class="sideimage">
         <img src="https://www.applegadgetsbd.com/_next/image?url=https%3A%2F%2Fadminapi.applegadgetsbd.com%2Fstorage%2Fmedia%2Flarge%2FOnePlus-Watch-2-1578.jpg&w=828&q=75" alt="">
       </div>
     </div>
   </div>

  <div id="feature">
    <div class="slots">
       <div class="slotimage">
         <img src="" alt="">
       </div>
      <div class="slottext">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="slots">
      <div class="slotimage">
        <img src="" alt="">
      </div>
      <div class="slottext">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="slots">
      <div class="slotimage">
        <img src="" alt="">
      </div>
      <div class="slottext">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="slots">
      <div class="slotimage">
        <img src="" alt="">
      </div>
      <div class="slottext">
        <h2></h2>
        <p></p>
      </div>
    </div>
  </div>
</div>


<script>

  var wrapper = document.querySelector('#wrapper');

  var imageitems = document.querySelectorAll('.imageitems') ;

  var dots = document.querySelectorAll('#dots li');
  console.log(dots)
  var next = document.querySelector('#next') ;
  var prev = document.querySelector('#prev') ;
  var active = 0 ;

  var refreshitems = setInterval(()=>{next.click()},5000)
  var lastdot = 0;
  prev.onclick=function(){
      dots[active].classList.remove('active');
      if(active-1<0)
      {
          active = 2 ;
          lastdot=0 ;
      }
      else{
          active -=1 ;
          lastdot =active+1 ;

      }

      renderimage();
  }
  next.onclick=function (){

      if(active+1>(imageitems.length-1))
      {
          active = 0 ;
          lastdot=2 ;
      }
      else{
          active +=1 ;
          lastdot = active-1 ;
      }
      renderimage();
  }

  function renderimage(){

     var pos = imageitems[active].offsetLeft ;
     var lastactivedots = document.querySelector('#dots li.active')
     wrapper.style.left = `-${pos}px`;
    dots[lastdot].classList.remove('active');
     dots[active].classList.add('active');
     clearInterval(refreshitems);
     refreshitems = setInterval(()=>{next.click()},5000)
  }

 dots.forEach(function (el ,key){
     el.addEventListener('click',function (){
         dots[active].classList.remove('active');
           active = key;
           renderimage();
     })
 })


</script>
